/themes/material/.github
/themes/material/languages
/themes/material/layout/*
/themes/material/scripts
/themes/material/source/*
!/themes/material/source/css
!/themes/material/source/img
/themes/material/source/css/*
!/themes/material/source/css/style.css
!/themes/material/source/css/style.min.css
/themes/material/source/img/footer
/themes/material/source/img/gallery
/themes/material/source/img/random
/themes/material/source/img/bg.png
/themes/material/source/img/browserstack_logo.png
/themes/material/source/img/upyun_logo.svg
/themes/material/.travis.yml
/themes/material/_config.template.yml
/themes/material/CONTRIBUTING.md
/themes/material/CONTRIBUTING.zh-cn.md
/themes/material/lint.sh
/themes/landscape
.DS_Store
Thumbs.db
*.json
*.log
node_modules/
public/
scaffolds/